@use "./variables.scss" as *;
@use "./mixins.scss" as *;
.about {
  grid-row: about-start / about-end;
  position: relative;
  padding: 25rem 5rem 15rem;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 150rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    align-items: center;
    column-gap: 10rem;
    box-shadow: 0 5px 10px 3px black;
    border-radius: 20px;
    background-color: $background-color;

    @include respond($desktop-small) {
      padding: 3rem;
      column-gap: 8rem;
    }

    @include respond($tablet-land) {
      max-width: 80rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      text-align: center;
      row-gap: 5rem;
    }

    @include respond($tablet-port) {
      max-width: 60rem;
    }

    @include respond($phone) {
      text-align: start;
    }

    &-photo {
      width: 40rem;
      height: 40rem;
      border-radius: 20px;
      grid-row: 1 / -1;
      border: 3px solid $primary-color;
      align-self: start;

      @include respond($tablet-land) {
        grid-row: 3;
      }

      @include respond($phone) {
        width: 30rem;
        height: 30rem;
      }
    }

    &-heading {
      color: $primary-color;
      justify-self: start;

      align-self: start;
      margin-bottom: 3rem;

      @include respond($tablet-land) {
        grid-row: 1;
        margin-bottom: 0;
      }
    }

    &-text {
      grid-column: 2;
      grid-row: 2;
      font-size: 2rem;
      color: $gray-text;
      align-self: end;

      @include respond($desktop) {
        font-size: 1.8rem;
      }
      @include respond($desktop-small) {
        font-size: 1.6rem;
      }

      @include respond($tablet-land) {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }
}
