@use "./variables.scss" as *;
@use "./mixins.scss" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond($tablet-land) {
    font-size: 56.25%;
  }

  @include respond($tablet-port) {
    font-size: 50%;
  }
}

.app {
  overflow: hidden;
  background-color: $background-color--light;
  display: grid;

  grid-template-rows: [hero-start] 100dvh [hero-end about-start] min-content [about-end projects-start] min-content[projects-end];
  font-family: "Montserrat", sans-serif;
}
