@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.heading {
  &__primary {
    font-size: 12rem;
    text-transform: uppercase;

    @include respond($desktop) {
      font-size: 9rem;
    }

    @include respond($tablet-land) {
      font-size: 7rem;
    }

    @include respond($tablet-port) {
      font-size: 5rem;
    }

    @include respond($phone) {
      font-size: 4rem;
    }
  }

  &__secondary {
    font-size: 4rem;
    text-transform: uppercase;

    @include respond($desktop) {
      font-size: 3.2rem;
    }

    @include respond($desktop-small) {
      font-size: 2.8rem;
    }
  }

  &__tertiary {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
}

.section-title {
  position: absolute;
  font-size: 3rem;
  top: 10vh;
  background-color: $primary-color;
  color: $background-color;
  padding: 1rem 3rem;
  font-weight: 600;

  @include respond($tablet-land) {
    font-size: 2.4rem;
  }

  @include respond($tablet-port) {
    font-size: 1.6rem;
    top: 10rem;
    padding: 1rem;
  }

  & span {
    color: $gray-text;
  }

  &--left {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    animation: ShowFromLeft 1s ease-in-out forwards;
  }

  &--right {
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    animation: ShowFromRight 1s ease-in-out forwards;
  }
}
