@use "./variables.scss" as *;

.navigation {
  list-style: none;
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: translateY(120%);
  animation: ShowFromBottom 1s forwards;
  animation-delay: 0.5s;

  &__link {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: $gray-text--dark;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.3s;
    text-shadow: 6px 6px 0 black;

    &:hover {
      text-shadow: 6px 6px 3px black;
      color: $gray-text;
      transform: translate(-3px, -3px);
    }
  }
}
