@use "../../sass/utils/variables.scss" as *;
@use "../../sass/utils/mixins.scss" as *;
@use "../../sass/utils/animations.scss" as *;

.hero {
  grid-row: hero-start / hero-end;

  @include gridCenter;
  grid-template-columns: 1fr 10vw;

  position: relative;
  background-color: $background-color;

  @include respond($tablet-port) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  @include respond($phone) {
    text-align: center;
  }

  &__tech-icons-list {
    display: flex;
    gap: 2rem;
    margin-left: -6px;
  }

  &__social-icons-list {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    display: flex;
    gap: 3rem;
    & img {
      height: 48px;
      width: 48px;

      @include respond($tablet-land) {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include respond($phone) {
      align-items: center;
    }
  }

  &__heading {
    color: $gray-text;
    line-height: 0.9;
    font-weight: 800;
    letter-spacing: -1px;
    margin-left: -8px;
    width: min-content;

    @include respond($tablet-port) {
      grid-row: 2;
    }

    & span {
      color: $primary-color;
    }
  }
}
