@use "../../sass/utils/variables.scss" as *;

.projects {
  grid-row: projects-start / projects-end;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  padding: $section-padding;
}
