@use "../../sass/utils/variables.scss" as *;
@use "../../sass/utils/mixins.scss" as *;

.techIcon {
  height: 48px;
  width: 48px;

  @include respond($tablet-port) {
    height: 24px;
    width: 24px;
  }
}
